@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

:root {
  --accent-color: #e74c3c;
  --text-color: #333;
  --background-color: #fff;
  --border-color: #f3f3f3;
  --shadow-color: #000;
  --create-color: #999;
  --dark-color: #555;
  --light-color: #f9f9f9;
}
